/* Reset margins and padding */
@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeue-Trial-HeavyItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Background color */
  font-family: 'Uni Neue', sans-serif;
}

.container {
  text-align: center;
  color: #FFFFFF; /* White text */
}

.logo-text {
  color: #457ce4;;
  font-weight: 700; /* Bold font */
  font-size: 3rem; 
  text-transform: uppercase; /* Uppercase letters */
  letter-spacing: 0.05em; /* Spacing between letters */
  margin-bottom: 1rem;
}

.coming-soon {
  color: #457ce4;;
  font-size: 1.5rem;
  letter-spacing: 0.05em; /* Spacing between letters */
  opacity: 0.8;
}
